<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <!--/*/ <th:block th:include="../fragments/general.html :: head-imports">
        </th:block> /*/-->
    <title>Tournaments | Tournaments app</title>
</head>
<body>

<div class="container">

    <div th:replace="../fragments/general.html :: nav"></div>

    <h1>Tournaments</h1>
    <table class="table table-hover ">
        <thead class="thead-inverse">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Game</th>
            <th>Status</th>
            <th>Start date</th>
            <th>End date</th>
            <th>Location</th>
            <th>Teams</th>
            <th>Brackets</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tr th:each="tournament : ${tournaments}">
            <td th:text="${tournament.id}"></td>
            <td th:text="${tournament.name}"></td>
            <td th:text="${tournament.game.name}"></td>
            <td th:text="${tournament.status}"></td>
            <td th:text="${tournament.startDate}"></td>
            <td th:text="${tournament.endDate}"></td>
            <td th:text="${tournament.location}"></td>
            <td>
                <div th:each="team: ${tournament.teams}"
                     th:text="${team.name}"></div>
            </td>
            <td>
                <a class="btn btn-sm btn-info" href="#" th:href="@{'/bracket/list/' + ${tournament.id}}">Go to
                    brackets</a>
            </td>
            <td>
                <div class="d-flex flex-row">
                    <a class="btn btn-sm btn-info" href="#" th:href="@{'/tournament/edit/' + ${tournament.id}}">Edit</a>

                    <form action="#" th:action="@{'/tournament/' + ${tournament.id}}" th:method="delete">
                        <button type="submit" class="btn btn-sm btn-danger">
                            Delete
                        </button>
                    </form>
                </div>
        </tr>
    </table>
    <a class="btn btn-info btn-lg" href="/tournament/new">New tournament</a>
</div>
</body>
</html>